@font-face {font-family:"architep";src:url("../fonts/architep.ttf") format("truetype");font-weight:normal;font-style:normal;}

@keyframes change-bg {
    from {opacity: 0;}
    to {opacity: 1;}
}

.change-background-animation {
	animation: change-bg 1s;
}

body {
	margin: 0px;
	padding: 0px;
	color: #639ba7;
	font-family: architep;
	font-size: 20px;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
div {
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/*------------- reuse css ---------------------*/
.common-background {
	background: #dae9e9;
}
.common-button {
	background: #639ba7;
	cursor: pointer;
}
.common-item-holder {
	position: relative;
}
.common-item-holder:HOVER {
	opacity: 0.4;
}
.common-item-holder img.item {
	border-radius: 5px;
	cursor: pointer;
}
.common-item-holder img.button {
	position: absolute;
	right: 10px;
	top: 10px;
	cursor: pointer;
	opacity: 1;
	display: none;
}
.common-item-holder:HOVER img.button {
	display: block;
}
.common-item-holder img.button:HOVER {
	opacity: 1;
}
.common-item-holder-active {
	cursor: default;
	opacity: 1;
}
.common-item-holder-active:HOVER {
	opacity: 1;
}
.common-item-holder-active img.item{
	cursor: default;
}
.common-item-holder-active img.button {
	display: block;
	cursor: default;
	opacity: 1;
}
.common-item-holder-enable {
	opacity: 0.4;
}
.common-item-holder-enable img.item{
	cursor: default;
}
.common-button-css {
	border: 1px solid #639BA7;
	border-radius: 5px;
	cursor: pointer;
}
.common-button-css:HOVER {
	background: #639BA7;
	color: #dae9e9;
}

.input-group {
	vertical-align: middle;
	font-size: 15px;
	margin: 5px 10px;
	clear: both;
	overflow: hidden;
}
.input-group label {
	vertical-align: top;
	margin: 0px;
	float: left;
}
.input-group input,select {
	float: left;
	border: 1px solid #639ba7;
	border-radius: 3px;
	padding-left: 5px;
	color: #639ba7;
}
.input-group img {
	border-radius: 5px;
}
.input-group span.afterText {
	color: #639ba7;
	float: right;
	vertical-align: top;
	line-height: 15px;
	overflow: hidden;
	text-align: right;
}
.input-group div.select-picture-group {
	clear: both;
	overflow: hidden;
}
.input-group div.select-picture-group img.select-picture {
	float: left;
	cursor: pointer;
}
.input-group div.select-picture-group img.selected {
	border: 1px solid #639ba7;
}

.tab-title {
	width: 90%;
	height: 30px;
}
.button-dialog {
	background-position: center;
	background-color: #639ba7;
	background-size: 15px 15px;
	background-repeat: no-repeat;
	border: solid 1px #639ba7;
	cursor: pointer;
	width: 40px;
    height: 25px;
}
.button-dialog:HOVER, .button-dialog.hover {
	background-position: center;
	background-color: #639ba7;
	background-size: 15px 15px;
	background-repeat: no-repeat;
	background-color: #dae9e9;
}
.apply-button {
	background-image: url("../img/editor/icon/tool/apply.png");
	position: absolute;
}
.apply-button:HOVER, .apply-button.hover {
	background-image: url("../img/editor/icon/tool/apply-hover.png");
}
.close-button {
	background-image: url("../img/editor/icon/tool/close.png");
}
.close-button:HOVER, .close-button.hover{
	background-image: url("../img/editor/icon/tool/close-active.png");
}
.upload-button {
	background-image: url("../img/editor/icon/tool/upload.png");
	float: right;
}
.upload-button:HOVER, .upload-button.hover{
	background-image: url("../img/editor/icon/tool/upload-hover.png");
}
.file-button  {
	background-image: url("../img/editor/icon/tool/file.png");
	float: right;
}
.file-button:HOVER,  .file-button.hover{
	background-image: url("../img/editor/icon/tool/file-hover.png");
}
/*----------------Dialog---------------------*/
#disable {
	background: #010101;
	opacity: 0.7;
	position: absolute;
	z-index: 100;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	display: none;
}
.dialog {
	position: absolute;
	z-index: 1002;
	width: 300px;
	height: 400px;
	left: 50%;
	top: 50%;
	margin-left: -150px;
	margin-top: -200px;
	background: #f7f7f7;
	display: flex;
	flex-direction: column;
	display: none;
}
.dialog h3 {
	font-size: 17px;
	text-align: center;
	margin: 10px auto;
	flex: 0;
	flex-basis: 20px;
}
.dialog .dialog-select {
	width: 260px;
	margin: 10px 10px;
	flex: 1;
	overflow-x: none;
	overflow-y: auto;
	font-weight: lighter;
}
.dialog .button-holder {
	flex: 0;
	flex-basis: 37px;
}
.dialog .button-holder .apply-button {
	width: 40px;
	height: 25px;
	border-radius: 3px;
	position: absolute;
	left: 10px;
}
.dialog .button-holder .close-button {
	width: 40px;
	height: 25px;
	border-radius: 3px;
	position: absolute;
	right: 10px;
}
#music-dialog .dialog-select .add-btn {
	width: 213px;
	height: 25px;
	font-size: 16px;
	margin-bottom: 10px;
	border-radius: 3px;
	line-height: 25px;
	margin-left: 0px;
}

#music-dialog .dialog-select .music-item {
	width: 100%;
	height: 25px;
	font-size: 16px;
	margin-bottom: 10px;
}

#music-dialog .dialog-select .music-item .name {
	background: url("../img/editor/icon/tool/music-icon.png") no-repeat #dae9e9;
	background-size: 16px 16px;
	background-position: 10px;
	border-radius: 3px;
	padding-left: 33px;
	cursor: pointer;
	width: 180px;
	float: left;
}

#music-dialog .dialog-select .music-item .name:HOVER {
	color: #dae9e9;
	background: url("../img/editor/icon/tool/music-icon-active.png") no-repeat #639ba7;
	background-size: 16px 16px;
	background-position: 10px;
}

#music-dialog .dialog-select .music-item .music-controll {
	width: 20px;
	height: 20px;
	cursor: pointer;
	background: url("../img/editor/icon/tool/play.png") no-repeat;
	background-size: 20px 20px;
	float: right;
}
#music-dialog .dialog-select .active .name {
	color: #dae9e9;
	background: url("../img/editor/icon/tool/music-icon-active.png") no-repeat #639ba7;
	background-size: 16px 16px;
	background-position: 10px;
	cursor: default;
}

#border-dialog .dialog-select .common-item-holder {
	width: 110px;
	height: 80px;
	float: left;
	margin-bottom: 10px;
	margin-right: 10px;
}

#border-dialog .dialog-select .common-item-holder img.item {
	width: 100%;
	height: 100%;
}

#border-dialog .dialog-select .common-item-holder img.button {
	width: 20px;
	height: 20px;
	right: 10px;
	top: 10px;
}

#upload-progress {
	margin-top: 20px;
}

#download-status-bar {
	width: 200px;
	height: 20px;
	border-radius: 5px;
	border: 1px solid #639ba7;
	float: left;
}
#progress {
	width: 20%;
	height: 20px;
	border-radius: 0px 0px 0px 0px;
	background: #639ba7;
}

.disable {
	opacity: 0.4;
	cursor: auto;
}
/*--------- main controller -----------*/
#items-controller {
	position: absolute;
	width: 170px;
	background: #dae9e9;
	z-index: 15;
	top: 0;
	right: 0;
}
#frames-items {
	position: absolute;
	width: 200px;
	right: 0px;
	top: 0px;
	background: #dae9e9;
	z-index: 16;
}
#frames-controller {
	position: absolute;
	height: 100px;
	left: 0px;
	bottom: 0px;
	background: #3c3c3c;
	border-top: #dae9e9 solid 1px;
}
/*--------  frame edit    --------*/
#logo-banner {
	background: #639ba7;
	width: 100%;
	height: 30px;
}
#logo-banner img {
	height: 30px;
}

.tab {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.tab .tab-title {
	padding-left: 10px;
	flex: 0;
	flex-basis: 30px;
	text-align: center;
}

.tab-content {
	background: none;
	overflow-y: scroll;
	overflow-x: hidden;
	width: 100%;
	flex: 1;
}
.tab-content div {
	width: 130px;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 0px;
}
.tab-content div img.item{
	width: 130px;
	height: 90px;
}
.tab-content div img.button{
	width: 25px;
}
.added-list {
	clear: both;
}
.tab-content  div.plugin-item
,.added-list div.plugin-item {
	width: 35px;
	height: 35px;
	margin: 1px;
	float: left;
}
.tab-content div.plugin-item img.item,
.added-list div.plugin-item img.item{
	width: 35px;
	height: 35px;
}
.tab-content div.plugin-item img.button,
.added-list div.plugin-item img.button{
	width: 20px;
	left: 7px;
	top: 7px;
}

.add-btn {
	margin: 10px auto;
	width: 130px;
	height: 90px;
	border-radius: 5px;
	border: 1px solid #639BA7;
	text-align: center;
	line-height: 90px;
	padding: 0px;
	font-family: serif;
	font-size: 70px;
	font-weight: bolder;
	cursor: pointer;
}
.add-btn:hover {
	background: #639BA7;
	color: #dae9e9;
}
#tab-bar {
	width: 100%;
	position: absolute;
	bottom: 0px;
	left: 0px;
	height: 40px;
}
.tab-button {
	width: 33%;
	height: 100%;
	float: left;
	text-align: center;
	cursor: pointer;
}
.tab-button:HOVER {
	background: #dae9e9;
}
.tab-button img {
	margin: 10px auto;
	width: 22px;
}

#tab-bar .apply-button {
	border-radius: 5px;
	width: 40px;
	height: 25px;
	right: 5px;
	bottom: 5px;
}
.items-edit-input .input-group {
	width: 150px;
	margin: 5px 10px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	flex: 0;
}

.items-edit-input .input-group label {
	width: 36%;
}

.items-edit-input .input-group input,select {
	width: 58%;
	float: right;
}

.items-edit-input .input-group span.afterText {
	width: 17%;
}

.items-edit-input .input-group div.select-picture-group img.select-picture {
	height: 30px;
	margin: 3px;
}
.plugin-select {
	display: block;
	clear: both;
	overflow: hidden;
	padding: 10px;
	cursor: pointer;
}
.plugin-select:HOVER {
	background: #639ba7;
	background-image: url("../img/editor/icon/tool/edit-hover.png");
	background-position: top right;
	background-repeat: no-repeat;
	background-size: 20px 20px;
}
.plugin-select .direction-contain,
.plugin-select .icon-contain {
	width: 99%;
	height: 30px;
	overflow: hidden;
}
.plugin-select .direction-contain img,
.plugin-select .icon-contain img {
	width: 30px;
	height: 30px;
	margin: 0px;
}
/*----- player controller -----*/
#player-controller {
	position: absolute;
	top: 0px;
	right: 170px;
	left: 200px;
	bottom: 101px;
	background: #373737;
}
#tool-bar {
	width: 100%;
	height: 30px;
	background: #639ba7;
}
.toolbar-button {
	width: 30px;
	height: 100%;
	float: right;
	cursor: pointer;
	border-right: 1px #639ba7 solid;
}
.toolbar-button:HOVER {
	background: #dae9e9;
}
.toolbar-button img {
	width: 20px;
	height: 20px;
	margin: 5px;
}
#player {
	background-color: #fff;
}
/*--------- properties controller ----------*/

#frames-edit {
	width: 200px;
	background: #dae9e9;
	position: relative;
}

#frames-edit .tab-title {
	text-align: center;
}

#frames-edit .input-group {
	width: 170px;
	margin-left: 15px;
	margin-top: 10px;
	height: 19px;
}

#frames-edit .input-group label {
	margin: 0px;
	float: left;
	width: 36%;
}

#frames-edit .input-group input {
	width: 40%;
}

#frames-edit .input-group span.afterText {
	width: 17%;
}
/*------- group box ----------*/
.group-box {
	width: 170px;
	margin: 10px 15px;
	padding: 0px;
}
.group-box h3 {
	display: block;
	width: 100%;
	font-size: 15px;
	font-weight: lighter;
	margin: 0px;
	padding: 0px 0px;
	border-bottom: 1px solid #639ba7;
}
.group-box img {
	width: 170px;
	height: 100px;
	margin-top: 10px;
}
.group-box div img.button  {
	width: 30px;
	height: 30px;
	bottom: 10px;
	right: 10px;
}
.text-item {
	width: 170px;
	margin: 5px 0px;
	padding: 0px;
	height: 20px;
	font-size: 15px;
}
.text-item div {
	height: 100%;
	vertical-align: middle;
	border-radius: 3px;
	padding: 0px 3px;
}
.text-item div.text-display {
	float: left;
	width: 111px;
	font-size: 13px;
	color: #dae9e9;
	background: #639ba7;
	line-height: 20px;
	overflow: hidden;
   	text-overflow: ellipsis;
   	white-space: nowrap;
}
.text-item div.common-text-button {
	float: right;
	width: 14px;
	height: 18px;
	text-align: center;
	line-height: 18px;
	font-family: serif;
	font-weight: bolder;
	font-size: 12px;
}
.text-item div.edit-button {
	background-image: url("../img/editor/icon/tool/edit.png");
	background-position: center;
 	background-size: 12px 12px;
 	background-repeat: no-repeat;
}
.text-item div.edit-button:HOVER {
	background-image: url("../img/editor/icon/tool/edit-hover.png");
}
/*------------------  controller  --------------------*/
#frames-controller div {
	height: 70px;
	width: 100px;
	float: left;
	margin: 10px 0px;
}
#frames-controller div img.item {
	height: 70px;
	width: 98px;
	border-radius: 5px;
}
#frames-controller div img.button {
	width: 20px;
}
#frames-controller div.add-frame {
	text-align: center;
	font-size: 40px;
	line-height: 70px;
	font-weight: bolder;
	font-family: serif;
}
#frames-controller div.drop_able {
	display: block;
	width: 8px;
	height: 70px;
	margin-left: 2px;
	margin-right: 2px;
}
#frames-controller div.drop_able_hover {
	background-color: #639ba7;
	opacity: 0.8;
	width: 15px;
	border-radius: 2px;
}
#toast {
	padding: 10px 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	opacity: 0.8;
	border-radius: 10px;
	z-index: 100;
	background: #373737;
	border: 2px solid #a0a0a0;
	color: #f1f1f1;
	font-size: 15px;
	font-weight: lighter;
	display: none;
}
/*----------------Player frame-----------------*/
div.player {
	width: 100%;
	height: 100%;
	position: relative;
	display: none;
}
#player .active {
	display: block;
}
/*-------------Text editor show----------------*/
div.text_show {
	position: absolute;
}
div.top {
	top: 0px;
}
div.middle {
	top: 50%;
	height: 50px;
	margin-top: -25px;
	vertical-align: middle;
}
div.botton {
	bottom: 0px;
}

div.left {
	left: 10px;
}
div.center {
	left: 50%;
	width: 300px;
	margin-left: -150px;
	text-align: center;
}
div.right {
	right: 10px;
}